<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NGMovieDB.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC8A2ADE24F4FB5500F0F7BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC8A2AF424F4FB5600F0F7BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC8A2AFF24F4FB5600F0F7BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
